div(ng-include="'views/template/nav.html'")

div.container

    form(name='setup', ng-submit='runSetup(setup.$valid)', novalidate='novalidate')

        alert(ng-if!="(setup.dbhost.$error || setup.dbname.$error || setup.dbuser.$error || setup.dbpass.$error", type="warning")
            span(ng-if='setup.dbhost.$error.required') Please the host databse server
            span(ng-if='setup.dbname.$error.required') Please the database name
            span(ng-if='setup.dbuser.$error.required') Please the database username
            span(ng-if='setup.dbpass.$error.required') Please the database password


        h1 Setup

        p.lead Complete the forms below to setup your new site!

        div.row
            div.col-sm-6
                div(ng-include="'views/setup/database.html'")

            div.col-sm-6
                div(ng-include="'views/setup/admin.html'")

    div.form-group
        div.col-sm-12
            button.btn.btn-primary(type='submit', ng-disabled='setup.$invalid')
                i.fa.fa-cog
                |  Run Setup
