
div.panel.panel-default
    div.panel-heading
        h3.panel-title
            i.fa.fa-user
            |  Admin

    div.panel-body

        div.form-group
            label.control-label First Name
            input.form-control(type='text', placeholder='Sarah', name='firstName', required='required')

        div.form-group
            label.control-label Last Name
            input.form-control(type='text', placeholder='Smith', name='lastName', required='required')

        div.form-group
            label.control-label E-mail
            input.form-control(type='email', placeholder='email@domain.com', name='email', required='required')

        div.form-group
            label.control-label Password
            input.form-control(type='password', placeholder='', name='pwd', required='required')

        div.form-group
            label.control-label Confirm Password
            input.form-control(type='password', placeholder='', name='confirmPwd', required='required')
