div(ng-include="'views/template/nav.html'")

div.container
    
    div.jumbotron
        div.container
            h1 Welcome
            p Welcome to your new real time node.js blog


    div.row
        div.col-sm-8
            h2 New Blog

            p this is your new first entry.

        div.col-sm-4
